[run]
omit =
    */tests/*
    */__init__.py
    */conftest.py
    .venv/*
    .env*


data_file = .coverage
parallel  = True

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
